body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 9rem;
  background-color: #011827;
}
.header__logo {
  width: 8rem;
  height: 5rem;
  margin-left: 2rem;
}
.header__title {
  margin-left: 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5rem;
  width: 5rem;
}
@media (min-width: 800px) {
  .header__title {
    width: auto;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  .header__title {
    width: auto;
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.nav-bar {
  display: none;
  justify-content: center;
  background-color: #011827;
}
.nav-bar__link:hover {
  color: #8ACFE5;
}
@media (min-width: 600px) {
  .nav-bar {
    display: flex;
  }
  .nav-bar__link {
    color: #FFFFFF;
    border: none;
    width: 18%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__image {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .main__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 35vh;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5rem;
  width: 19.25rem;
  height: 4.25rem;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.challenge-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .challenge-links {
    flex-direction: row-reverse;
    gap: 1rem;
    margin-top: -4rem;
    max-width: 100%;
  }
}
.challenge-links__link--on-site {
  background-color: #8ACFE5;
  color: #011827;
}
.challenge-links__link--online {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  font-size: 1rem;
  margin: 0;
}
@media (min-width: 600px) {
  .challenge-links__link--online {
    background-color: #E3170A;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow-x: auto;
  width: 100%;
}
@media (min-width: 800px) {
  .reviews {
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
  }
}
@media (min-width: 600px) {
  .reviews {
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    margin-top: 2rem;
  }
}
.reviews__review {
  display: grid;
  grid-template-columns: 4.75rem auto;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.reviews__text {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
  margin-right: 1.5rem;
}
.reviews__image {
  height: 4.5rem;
  border-radius: 2.25rem;
}
.reviews__date {
  font-size: 1rem;
}

.popular-challenges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 600px) {
  .popular-challenges {
    margin-bottom: 7rem;
  }
}
.popular-challenges__title {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 400;
}
.popular-challenges__list {
  display: grid;
  grid-template-columns: repeat(3, 22.75rem);
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 420px) {
  .popular-challenges__list {
    grid-template-columns: repeat(3, 16rem);
  }
}
.popular-challenges__challenge {
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.5rem;
  overflow: hidden;
}
.popular-challenges__image {
  width: 100%;
}
.popular-challenges__challenge-title {
  font-size: 1.75rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0;
}
.popular-challenges__info {
  display: flex;
  align-items: center;
}
@media (min-width: 800px) {
  .popular-challenges__info {
    justify-content: space-between;
  }
}
.popular-challenges__rating {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
.popular-challenges__star-rating {
  padding: 0.25rem 0.25rem 0.25rem 0;
  height: 1rem;
}
.popular-challenges__participants {
  margin: 0;
  font-size: 0.875rem;
  padding-right: 1rem;
}
.popular-challenges__challenge-description {
  margin: 0;
  padding: 1rem;
  font-size: 1.125rem;
}
.popular-challenges__button--book-room {
  background-color: #E3170A;
  color: #FFFFFF;
  border: none;
  height: 2.75rem;
  width: 11.2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 1rem 1rem 0;
  cursor: pointer;
  float: right;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-color: #011827;
  margin: 1rem 1rem 0 1rem;
}
.story__text {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.75rem;
  max-width: 37.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.story__link {
  width: 19.25rem;
  height: 4.125rem;
  border-radius: 0.25rem;
  background-color: #011827;
  color: #8ACFE5;
  font-size: 1.5rem;
  border: 2px solid #8ACFE5;
}
@media (min-width: 600px) {
  .story {
    margin-top: 5rem;
  }
}

.play-options__content {
  margin: 2rem 1rem 5rem 1rem;
}
.play-options__image-1, .play-options__image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.play-options__description {
  font-size: 2rem;
  font-weight: 700;
  max-width: 37.5rem;
  margin: 0;
}
.play-options__text {
  font-size: 1.5rem;
  max-width: 37.5rem;
}
.play-options__link--book-on-site, .play-options__link--see-all-challenges {
  background-color: #E3170A;
  color: #FFFFFF;
}
@media (min-width: 800px) {
  .play-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .play-options__content {
    max-width: 26rem;
    padding: 1rem 0;
    margin: 2rem auto;
  }
  .play-options__image-1 {
    grid-column: 1/1;
    grid-row: 1;
  }
  .play-options__image-2 {
    grid-column: 2/2;
    grid-row: 2;
  }
  .play-options__text {
    margin-bottom: 2rem;
  }
}

.footer {
  height: auto;
  padding-bottom: 2rem;
  background-color: #011827;
  color: #FFFFFF;
  padding-top: 2rem;
}
@media (min-width: 800px) {
  .footer {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-top: 10rem;
  }
  .footer__company-info {
    width: 26rem;
  }
}
.footer__titles {
  margin: 0 0 0.5rem 1rem;
  padding-top: 2rem;
  font-size: 1.125rem;
}
.footer p {
  margin: 0 1rem;
  font-size: 1.125rem;
  max-width: 30rem;
}
.footer__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.125rem;
  margin: 0 1rem;
  max-width: 30rem;
}/*# sourceMappingURL=main.css.map */